@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat.ttf");
}

* {
  font-family: Montserrat;
}

:root {
  /* Color styles */
  --orange: #ff6f00;
  --black: #1c1c1c;
  --dark--grey: #333333;
  --light-orange: #ffa733;
  --white: #ffffff;
  --light-grey: #b0b0b0;
  --dark-light-grey: #757575;
  --dark-orange: #e65100;
  --very-dark-orange: #7e2c00;
}
